[submodule "luci-app-tcpdump"]
	path = luci-app-tcpdump
	url = https://github.com/KFERMercer/luci-app-tcpdump
[submodule "openwrt-filebrowser"]
	path = openwrt-filebrowser
	url = https://github.com/immortalwrt-collections/openwrt-filebrowser
[submodule "lua-maxminddb"]
	path = vssr/luamaxminddb
	url = https://github.com/jerrykuku/lua-maxminddb
[submodule "luci-app-vssr"]
	path = vssr/luci-app-vssr
	url = https://github.com/jerrykuku/luci-app-vssr
[submodule "luci-app-speedtest-web/luci-app-speedtest-web"]
	path = luci-app-speedtest-web/luci-app-speedtest-web
	url = https://github.com/ZeaKyX/luci-app-speedtest-web.git
[submodule "luci-app-homebox/luci-app-homebox"]
	path = luci-app-homebox/luci-app-homebox
	url = https://github.com/selfcan/luci-app-homebox.git
[submodule "package/OpenAppFilter"]
	path = package/OpenAppFilter
	url = https://github.com/destan19/OpenAppFilter.git
[submodule "OpenAppFilter"]
	path = OpenAppFilter
	url = https://github.com/destan19/OpenAppFilter.git
[submodule "op-homebox"]
	path = op-homebox
	url = https://github.com/ywt114/op-homebox.git
